.border{
  width: 1000px;
  height: 700px;
  background-color: white;
  border: 3px solid red;
  padding-top: 1em;
  padding-left: 30px;
  border-radius: 10px;
}

.gambar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 900px;
}

.Tittle{
  text-align: center;
}

.text{
  text-align: center;
}

.btnSubmit{
  background-color: blue;
  text-align: center;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  width: 90px;
  border: 3px solid red;
}